@media screen and (max-width:924px) {
    ul{
     display: block;
      text-align: center;
   
    }
    #box1{
       margin: 20px auto;
    }
    #box2{
       margin: 20px auto;
    }
   
}
/* @media screen and (min-width:770px) and (max-width:924px) {
   #box1{
      margin: 20px auto;
     
   }
   #box2{
      margin: 20px auto;
    
   }
} */